<div id="container">
	<div id="hero-img"></div>
	<div id="profile-img">
		<img *ngIf="spinner" src="../../../assets/spinner.gif" alt="spinner">
		<img *ngIf="user" src="{{user.results[0].picture.large}}"   onerror="this.src='../../../assets/user/nouser.png';" alt="avatar" />
	</div>
	<div id="content">
		<h1 *ngIf="user">{{user.results[0].name.title}} {{user.results[0].name.first}} {{user.results[0].name.last}}
		</h1>
		<p>"Siamo una Creative Innovation Agency. Ci occupiamo di Creatività, Design e Sviluppo di soluzioni digitali."
		</p>
	</div>
	<span id="social">
		<a href="https://www.linkedin.com/company/fuoricitt%C3%A0/" target="_blank"><img
				src="../../../assets/socialnetwork/linkedin.svg" alt="Linkedin"></a>
		<a href="https://www.facebook.com/fuoricitta/" target="_blank"><img
				src="../../../assets/socialnetwork/facebook.svg" alt="Facebook"></a>
	</span>
	<ul class="menu">
		<li [ngClass]="{'current': menu  == 'email' }"><a (mouseover)='changeMenu("email")'
				data-hover="E-mail">E-mail</a></li>
		<li [ngClass]="{'current': menu  == 'birthday' }"> <a (mouseover)='changeMenu("birthday")'
				data-hover="Compleanno">Compleanno</a></li>
		<li [ngClass]="{'current': menu  == 'adress' }"><a (mouseover)='changeMenu("adress")'
				data-hover="Indirizzo">Indirizzo</a>
		</li>
		<li [ngClass]="{'current': menu  == 'phone' }"><a (mouseover)='changeMenu("phone")'
				data-hover="Telefono">Telefono</a></li>
		<li [ngClass]="{'current': menu  == 'account' }"><a (mouseover)='changeMenu("account")'
				data-hover="Accesso">Accesso</a></li>
	</ul>

</div>